<div class="vw-100 vh-100 d-flex align-items-center justify-content-center" style="background-color: rgb(190, 190, 190)">
    <div class="box">
        <h2>Parabéns!</h2>
        <p>Você fez login!</p>
        <a href="#" class="btn btn-primary">Fazer logout</a>
    </div>
</div>