<div class="vw-100 vh-100 d-flex align-items-center justify-content-center" style="background-color: rgb(190, 190, 190)">
    <div class="box d-flex flex-column">
        <h2>Parabéns!</h2>
        <hr class="mt-2 mb-3">
        <p>Você fez login! :D</p>
        <p>Seu usário é: <b><%= usuario %></b></p>
        <p>Seu e-mail é: <b><%= email %></b></p>
        <div style="flex-grow: 1"></div>
        <div class="d-flex flex-row justify-content-center">
            <a href="/logout" class="btn btn-primary px-3">Fazer logout</a>
        </div>
    </div>
</div>