<div class="w-100 h-100 d-flex">
    <div id="loginBox" class="border shadow-sm">
        <form method="post" action="/login">
            <label for="user">Nome de usuário:</label>
            <input id="user" name="user" type="text" class="form-control"/>
            <label for="pwd">Senha:</label>
            <input id="pwd" name="pwd" type="password" class="form-control"/>
            <input id="remember" name="remember" type="checkbox" value="Remember me">
            <br>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>
</div>