<div class="d-flex align-items-center justify-content-center" style="width: 100vw; height: 100vh">
    <div class="container">
        <div class="row">
            <div id="loginBox" class="bg-white border shadow-sm p-4 pt-3 col-md-3 mx-auto">
                <form method="post" action="/login">
                    <h3>Entrar</h3>
                    <% if (typeof(msg) != "undefined") { %>
                        <div style="display: none" class="border border-danger bg-danger"><%= msg %></div>
                    <% } %>
                    <label for="user">Nome de usuário:</label>
                    <input id="user" name="user" type="text" class="form-control"/>
                    <label for="pwd">Senha:</label>
                    <input id="pwd" name="pwd" type="password" class="form-control"/>
                    <input id="remember" name="remember" type="checkbox">
                    <label for="remember" class="mb-3">Lembrar de mim</label>
                    <input type="submit" class="btn btn-primary d-block w-100 fw-bold mb-1" value="Entrar">
                    <a href="#" class="btn btn-secondary d-block w-100 fw-bold">Crie sua conta</a>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>
</div>