<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio - Sistema de Login</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bootstrap_custom.css">
    <script src="/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>

    </header>

    <main>
        <%- include(page) %>
    </main>

    <footer>
        
    </footer>
</body>
</html>